<footer>
  <p>&copy; 2025 TangoKalmar.</p>
  <div id="admin-login" style="display: block;">
    <h2>Admin Login</h2>
    <input type="text" id="username" placeholder="Användarnamn" required>
    <input type="password" id="password" placeholder="Lösenord" required>
    <button id="login-btn">Logga in</button>
  </div>

  <button id="logout-btn">Logga ut</button>
</footer>