<header>
  <nav>
    <ul class="navbar">
      <li><a href="/">Hem</a></li>
      <li><a href="/om-oss">Om oss</a></li>
      <li><a href="/event">Event</a></li>
      <li><a href="/kvalifikationer">Kvalifikationer</a></li>
    </ul>
  </nav>
</header>