<button class="btnLogin-popup">Administrera</button>
<div class="wrapper">
  <span class="icon-close"><ion-icon name="close-outline"></ion-icon>
  </span>

  <div class="form-box login">
    <h2>Login-Admin</h2>
    <form action="#">
      <div class="input-box">
        <span class="icon"><ion-icon name="person-outline"></ion-icon>
        </span>
        <input type="Username" required>
        <label>Användarnamn</label>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <input type="password" required>
        <label>Lösenord</label>
      </div>

      <button type="submit" class="btn">Logga in</button>
    </form>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
