<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <h1>Här ska det vara information om kommande events</h1>
  </main>

<%- include('../partials/footer') %>
</body>
</html>
