<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  <!-- Kursformulär - dolt initialt -->
  <div id="course-form" style="display: none;">
    <%- include('../partials/course-form') %>
  </div>

  <!--sektion för att visa kurser -->
  <section id="courses-section">
    <h2>Tango Kurser</h2>
    <div id="public-course-list" class="courses-container">
    </div>
  </section>

<!--sektion för att visa platser -->
<section id="locations-section">
  <h2>Plats För Kurserna</h2>

  <div class="locations-flex-container">
    <!-- Dörbysalen, Smedby -->
    <div class="location-wrapper">
      <div class="location-info">
        <p><strong>Plats:</strong></p>
        <p><strong>Dörbysalen, Smedby</strong></p>
        <p><strong>Adress:</strong></p>
        <p>Smedbyvägen 50<br>394 70 Kalmar</p>
      </div>

      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2191.8167810521186!2d16.238515477958554!3d56.67739497344048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4657cf8a9f386b4b%3A0x8e69a060fa49b5db!2sD%C3%B6rbysalen!5e0!3m2!1ssv!2sse!4v1747858411279!5m2!1ssv!2sse" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="contact-info">
        <p><strong>Kontakta Lene & Anmäl Dig!</strong></p>
        <p>073 037 57 43</p>
        <p><a href="mailto:tangokalmar@gmail.com">tangokalmar@gmail.com</a></p>
      </div>
    </div>

    <!-- Kulturkepsen -->
    <div class="location-wrapper">
      <div class="location-info">
        <p><strong>Plats:</strong></p>
        <p><strong>Kulturkepsen</strong></p>
        <p><strong>Adress:</strong></p>
        <p>Trottorp 525<br>388 97 Halltrop</p>
      </div>

      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2200.9562472910934!2d16.10445149899988!3d56.52018170473537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465633001dfa17f1%3A0x72e6eacc50d4d977!2sKulturkepsen!5e0!3m2!1ssv!2sse!4v1747858647127!5m2!1ssv!2sse" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="contact-info">
        <p><strong>Kontakta Lene & Anmäl Dig!</strong></p>
        <p>073 037 57 43</p>
        <p><a href="mailto:tangokalmar@gmail.com">tangokalmar@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>


  <!-- Sektion för att visa event -->
<section id="events-section">
  <h2>Fortsättningskurs – Vad ingår?</h2>
  <div id="public-event-list" class="events-container">

    <div class="event-item">
      <img src="/Bilder/Granchos.png" alt="Ganchos" class="event-image">
      <div class="event-text">
        <h3>Ganchos</h3>
        <p>Ganchos betyder "krokar" på spanska och portugisiska och är samlingsnamnet för tekniken i tango där den följande danspartnern använder sitt lediga ben för att "kroka" fast i den ledande danspartner.</p>
      </div>
    </div>

    <div class="event-item">
      <img src="/Bilder/Boleos.png" alt="Boleos" class="event-image">
      <div class="event-text">
        <h3>Boleos</h3>
        <p>Boleo kommer från spanska verbet bolear och betyder "att kasta". Den här tango-tekniken bygger på att kvinnan/följande danspartnern "kastar" ut det lediga benet antingen bakom eller framför det ledande benet som hon har sin tyndpunkt på. Det kan göras åt både höger och vänster beroende på riktningen i dansen.</p>
      </div>
    </div>

    <div class="event-item">
      <img src="/Bilder/Sacadas.png" alt="Sacadas" class="event-image">
      <div class="event-text">
        <h3>Sacadas</h3>
        <p>Sacadas kommer från spanska verbet sacar och betyder "att ta ur/ta bort". Namnet beskriver hur mannen/ledande danspartnern tar sin lediga fot och sätter den bredvid kvinnans ledande fot. Den visuella effekten blir att hans fot döljs av kvinnans fot och därav namnet Sacadas.</p>
      </div>
    </div>

  </div>
</section>

  <%- include('../partials/footer') %>

  <script src="/js/login.js"></script>
  <script src="/js/courses.js"></script>
</body>
</html>