<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  <!-- Kursformulär - dolt initialt -->
  <div id="course-form" style="display: none;">
    <%- include('../partials/course-form') %>
  </div>

  <!--sektion för att visa kurser -->
  <section id="courses-section">
    <h2>Tango Kurser</h2>
    <div id="public-course-list" class="courses-container">
    </div>
  </section>

  <%- include('../partials/footer') %>
  
  <script src="/js/login.js"></script>
  <script src="/js/courses.js"></script>
</body>
</html>